body{
   background-color:hsl(195, 96%, 10%);

}
.container{
    margin: 150px;
    align-items: center;
    
}
.article{
width:250px;
background-color: blueviolet;
border:1px solid white;
border-radius: 10px;
padding: 10px;
padding:20px;
}
.articles{
    display: grid;
    grid-template-columns:1fr;
    gap: 1px;
}
.Extensions{
width:250px;
background-color: blueviolet;
border:1px solid white;
border-radius: 10px;
padding: 10px;
font-size: 18px;
}
.Extensions-Lists{
font-size: 20px;
color: white;
}
.nav-list{
    font-size: 17px;
    display: flex;
    gap:8px;
}
@media(min-width:700px){
    .articles{
        grid-template-columns: repeat(3,1fr);
        width:80%;
        margin: 70px;
        gap: 10px;
        
    }
    .Extensions{
    width:80%;
    margin:70px;
}   
.flex{
    display: flex;
    justify-content: space-between;
    margin:70px;
    width: 90%;
} 
}



