body{
   background-color:hsl(195, 96%, 10%);

}
.container{
    margin: 150px;
    align-items: center;
    
}
.article,.Extensions{
width:250px;
background-color: blueviolet;
}
.articles{
    display: grid;
    grid-template-columns:1fr;
    gap: 1px;
}
@media(min-width:700px){
    .articles{
        grid-template-columns: repeat(3,1fr);
        width:400px;
        margin: 70px;
        gap: 10px;
    }
    .Extensions{
    width:80%;
    margin:70px;
}   
.flex{
    margin: 70px;
} 
.nav-list{
    justify-content: flex-end;
}
}

.flex{
    width:250px;
    display:flex;
    justify-content:space-between;
}
.nav-list{
    display: flex;
    gap:2px;
}
